html,
body {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	width: 100%;
}

body {
	background: #000000;
	font-family:
		-apple-system,
		BlinkMacSystemFont,
		Segoe UI,
		Roboto,
		Helvetica Neue,
		Arial,
		Noto Sans,
		sans-serif,
		Apple Color Emoji,
		Segoe UI Emoji,
		Segoe UI Symbol,
		Noto Color Emoji;
	margin: 0;
}

div > a {
	opacity: 0.875;
	text-decoration: none;
}

div > a:hover {
	opacity: 1;
}

div.content {
	align-items: center;
	display: flex;
}

div.image {
	margin-bottom: 1em;
}

div > a,
h1 {
	color: rgba(255, 255, 255, 0.925);
	font-family: 'Staatliches', cursive;
	margin: 0;
}
